.App {
  text-align: center;
}
.currencySelector {
  margin: 10px 10px 10px 10px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buySell {
  margin: 1px 1px 1px 10px;
}
.inputField {
  margin: 20px 5px 5px 10px;
}
